<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Library Management{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('admin.home') }}">Home</a></li>
                <li><a href="{{ url_for('admin.upload_book') }}">Upload Book</a></li>
                <li><a href="{{ url_for('admin.manage_books') }}">Manage Books</a></li>  <!-- New link -->
            </ul>
        </nav>
    </header>

    <main>
        <h1>{% block heading %}Library Management System{% endblock %}</h1>
        {% block content %}
        <!-- Content for specific pages goes here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Library Management System. All rights reserved.</p>
    </footer>
</body>
</html>
